body{
 text-align: center;
    margin: 0;
    padding-top: 800px;
    
}
.profile{
   width: 600px; 
    height: 400px;
    margin-bottom: 50px;
    border-radius: 30%;
    margin-top: 100px;
}
#welcome{
  position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    left:0;
    top: 0;
        bottom:0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#13b6c2 0%,#d710e6 100%);
    display: table;
    width: 100%;
    height: 100%;
      z-index: 9; 
        
}
.maindiv{
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    
}
h1{
   font-size: 40px;
    line-height: 1.2;
    font-family: 'Merienda', cursive;
    font-weight: 300;
    
    
}
h2{
   font-size: 30px;
    line-height: 1.2;
    font-family:cursive;
    font-weight: 300;
    
    
}
#name{
   font-size: 40px;
    line-height: 1.2;
    font-family: 'Courgette', cursive;
    font-weight: 300;
    }
.menu{
    list-style: none;
   font-family: 'Lobster', cursive;
    position: fixed;
    top:0px;
    z-index: 10;
    cursor: pointer;
    margin-top: 0px;
    background: white;
    width: 100%;
    
}  .link{
    color: aliceblue;
    display:inline;
   
    padding-left: 33px;
    padding-right: 25px;
    font-size: 20px;   
}

.link:hover{
    background-color:forestgreen; 
    font-size: 25px;
    text-decoration: underline
}
a{
  text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px grey;
}
.artcle:hover{
    color: blueviolet;
    
}
html{
   scroll-behavior: smooth; 
    
}
#writing a{
 text-shadow: none !important;   
 text-decoration: underline !important;
    
    color: darkslateblue;
    
}
.contact_1 a{
 color:white;
    text-shadow: none;
}
.contact_1{
    background-color: brown;
}
.contact_1 h3{
    display: inline
}